[Unit]
Description=ACME On Demand
After=network.target
StopWhenUnneeded=true

[Service]
User=acme
ExecStart=/home/acme/projects/acme/scripts/run_service.sh
Type=simple

[Install]
WantedBy=default.target
RequiredBy=network.target