[Unit]
Description=ACME On Demand
After=network.target
StopWhenUnneeded=true

[Service]
ExecStart=/usr/local/bin/acme
Environment="SERVER_PORT=8081"
Type=simple

[Install]
WantedBy=default.target
RequiredBy=network.target
