[Unit]
Requires=acme.service
After=acme.service
Requires=acme.socket
After=acme.socket

[Service]
ExecStart=/usr/lib/systemd/systemd-socket-proxyd --exit-idle-time=1min localhost:8081
PrivateTmp=yes
PrivateNetwork=yes
