[Unit]
Description=ACME On Demand
After=network.target
StopWhenUnneeded=true

[Service]
ExecStart=/home/buster/projects/acme/target/acme
Environment="SERVER_PORT=8081"
Type=simple
#Restart=always


[Install]
WantedBy=default.target
RequiredBy=network.target
