<div>
    <span>Benutzeranzahl:</span>
    <div data-testid="userCount" th:text="${userCount}">unbekannt</div>
</div>
<a href="#" hx-post="delete-user-database" hx-swap="innerHTML" hx-target="#adminpage-return"
   id="delete-user-database">Delete User Database</a>
<a href="#" hx-post="delete-user-events" hx-swap="innerHTML" hx-target="#adminpage-return"
   id="delete-user-events">Delete User Events</a>
<form>
    <input data-testid="benutzerId" name="benutzerId"/>
    <button hx-post="read-user" hx-swap="innerHTML" hx-target="#adminpage-return"
            id="read-user">read User
    </button>
</form>
