<div aria-atomic="true" aria-live="assertive" class="toast fade show" data-testid="registration-successful-toast"
     role="alert">
    <div class="toast-header">
        <strong class="me-auto">Benutzerregistrierung erfolgreich</strong>
        <button aria-label="Close" class="btn-close" data-bs-dismiss="toast" onClick="window.location.reload();"
                type="button"></button>
    </div>
    <div class="toast-body">
        <span th:text="${'Willkommen ' + userName + '!'}"></span>
    </div>
</div>