<div class="row">
    <h1>Deine Lieder</h1>
    <ul class="list-group">
        <li class="list-group-item d-flex" th:each="lied: ${lieder}">
            <div class="mx-3">
                <div th:text="${lied.getTitel()}">Titel</div>
                <div class="text-body-secondary">Extra Stuff</div>
            </div>
            <audio class="flex-fill" controls="" id="voice" th:data-testid="${'songlist-'+lied.getId().id()}">
                <source th:src="${'/streamSong?liedId=' + lied.getId().id()}">
            </audio>
        </li>
    </ul>
</div>
